<div class="blog">
	<div class="blog_center">
		<div class="blog_wrap">
			<div class="blog_item_article">
				<div class="slider">
					<div class="slider_wrap">
						<img src="./img/slider/if_icon-ios7-arrow-back_211686.svg" alt="" class="prev">
						<img src="./img/slider/blog_img.jpg" alt="" class="slider_item">
						<img src="./img/slider/pexels-photo-721169 (3).jpeg" alt="" class="slider_item">
						<img src="./img/slider/pexels-photo-731953 (1).jpeg" alt="" class="slider_item">
						<img src="./img/slider/pexels-photo-733995.jpeg" alt="" class="slider_item">
						<img src="./img/slider/if_icon-ios7-arrow-forward_211688.svg" alt="" class="next">
					</div>
				</div>
				<div class="blog_item_info">
					<h6>Date</h6>
					<p>April 15, 2012</p>
					<h6>tags</h6>
					<p>Website | Design</p>
					<h6>comments</h6>
					<p>4</p>
				</div>
				<div class="blog_item_content">
					<h4>top wordpress themes of 2012</h4>
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
				</div>
			</div>
			<div class="blog_others">
				<div class="blog_others_item">
					<h5 class="blog_others_item_caption">about jetro</h5>
					<div class="gradient"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore maiores, iste minima nemo, aliquid at cupiditate nesciunt magnam officiis illum veritatis. Architecto dolore consequatur aspernatur iusto quia officiis enim nobis.</p>
				</div>
				<div class="blog_others_item">
					<h5 class="blog_others_item_caption">Categories</h5>
					<div class="gradient"></div>
					<ul class="blog_others_list">
						<li class="blog_others_list_item"><a href="#">Video (3)</a></li>
						<li class="blog_others_list_item"><a href="#">Sports (5)</a></li>
						<li class="blog_others_list_item"><a href="#">Media (2)</a></li>
						<li class="blog_others_list_item"><a href="#">Entertaiment (7)</a></li>
						<li class="blog_others_list_item"><a href="#">Life (4)</a></li>
						<li class="blog_others_list_item"><a href="#">Super Cool Stuff (8)</a></li>
					</ul>
				</div>
				<div class="blog_others_item">
					<h5 class="blog_others_item_caption">photo gallery</h5>
					<div class="gradient"></div>
					<div class="blog_others_photo__big">
						<img src="./img/iconfinder-icon.svg" alt="" class="close">
					</div>
					<div class="blog_others_photo_wrap">
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-732723.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-734213.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-734653.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-734966.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-735010.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-735198.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-735351.jpeg" alt="" class="blog_others_photo_item"></div>
						<div class="blog_others_photo_item_wrap"><img src="./img/gallery/pexels-photo-736516.jpeg" alt="" class="blog_others_photo_item"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="gradient gradient__main"></div>
		<div class="blog_wrap">
			<div class="blog_item_article blog_item_article_text">
				<div class="blog_item_picture blog_item_picture__bgi_2"></div>
				<div class="blog_item_info">
					<h6>Date</h6>
					<p>April 15, 2012</p>
					<h6>tags</h6>
					<p>Website | Design</p>
					<h6>comments</h6>
					<p>4</p>
				</div>
				<div class="blog_item_content">
					<h4>jesus typography wallpaper giveaway</h4>
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
				</div>
			</div>
		</div>
		<div class="gradient gradient__main"></div>
		<div class="blog_item_article blog_item_article__quote">
			<div class="blog_item_quote">
				<span class="blog_item_quote_left">“</span>	
				<p>Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.</p>
			</div>
		</div>
		<div class="gradient gradient__main"></div>
		<div class="blog_item_article blog_item_article__clear">
			<div class="blog_item_content blog_item_content_left">
				<h4>some of the best freebies on the web</h4>
			</div>
			<div class="blog_item_info blog_item_info_left">
				<p>www.bestpsdfreebies.com</p>
			</div>
			<div class="blog_item_content blog_item_content__big">
				<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
			</div>
		</div>
		<div class="gradient gradient__main"></div>
		<div class="blog_pages">
			<a href="#" class="blog_pages_link active_link">1</a>
			<a href="#" class="blog_pages_link">2</a>
			<a href="#" class="blog_pages_link">3</a>	
		</div>
	</div>
</div>